{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
        <a class="btn btn-default" href="http://trial.loc/app_dev.php" role="button">Back HOME</a>
    </div>
{{ form_end(form) }}
